body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;




}
 .mainHeader{
  
background-color: black;
color: white;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
 justify-content: space-between;
 align-content: space-between;
 height: fit-content;
 margin-left: 2rem;
 margin-right: 2rem;
 
}
.leftHeader img{
  width: 5rem;
  height: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
}

.headerBtn{
  padding-inline: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: yellowgreen;
}
 .right{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
 }
 .topIcon i{
  gap: 2rem;
  margin-left: 2rem;
 }

 .header{
  background-color: rgb(224, 249, 170);
color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 align-content: space-between;
 margin-left: 2rem;
 margin-right: 2rem;
 }

 .headerRight{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;

 }

 .headerRight ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  font-weight: bold;
  margin-right: 1rem;
  list-style: none;

 }
 .headerRight ul li:hover{
color: rgb(235, 70, 5);
 }

 .home{
  width: 100%;
  
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  text-align: center;
  color: white;
  padding-bottom: 20px;
 }

 .home h1{
  margin-top: 3rem;

 }
.home button{
  background-color: rgb(246, 246, 91);
  color: black;
  border: none;
  padding: 1vw 2vw;
  border-radius: 1vw;
}
.home button:hover{
  background-color: blue;
  color: white;
}

.leftHeader h1 span{
  color: yellowgreen;
  
}

.icon{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  font-weight: bold;
  
  justify-content: center;
  font-size:xx-large;
  }
.icon h5{
  text-align: center;
  margin-left: 3rem;
  font-size: small;
}

.icons h1{
  text-align: center;
}
.icons h1 span{
  color: yellowgreen;
}
.icon-grid {
  display: flex;
  justify-content: space-around; 
  padding: 20px;
  flex-wrap: wrap; 
}

.icon-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 20px;
}

.icon-container i {
  font-size: 40px; 
  margin-bottom: 10px; 
}
.icon-container i:hover,.icon-container span:hover{
  color: rgb(253, 76, 12);
}

.icon-container span {
  font-size: 16px;

}



.grid-about{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.about h1{
  text-align: end;
  
}
.about h1 span{
  color: yellowgreen;
}
.about p{
  font-weight: bold;
  text-align:justify;
}
.about button{
  background-color: yellow;
  color: black;
  padding-inline: 10px;
  padding-bottom: 2px;
  padding:10px;
  padding-top: 10px;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  text-align: center;
}
.service{
  text-align: center;
}
.service span{
  color: yellowgreen;
}
.star-grid{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.star-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
.star-container p{
  color: rgba(13, 182, 72, 0.635);
}
.star-container span{
  font-size: 16px;
}
.star-container img{
  background:rgb(6, 145, 6);
  border-radius: 10vw;
}


.star-grid h1{
  text-align: center;
}
.protfolio-grid{
  background-color: black;
  width: 80%;
  height: 50%;
  margin: auto;
  color: white;
}

.protData{
  text-align: center;
  padding: auto;
  
}

.protData h1 span{
  color: yellowgreen;
  
}

.protUl ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.protUl ul li:hover{
  color: rgb(247, 94, 5);
}
.protUl span{
  color: rgb(236, 156, 9);
}

.protImg{
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.process-grid{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
.processImg-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.processImg-container img{
  background:blue;
  border-radius: 10vw;
}


.num{
  background-color: yellow;
  color: black;
  border-radius: 100%;
  width: 20px;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 2rem;

}
.processImg-container span{
  margin-top: 2rem;
  font-weight: bold;
}
.mainProcess{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.mainProcess span{
  color: yellowgreen;
}
  .aboutUsHeading{
    text-align: center;
  }
  .aboutUsHeading span{
    color: yellowgreen;
  }
.aboutUsHeading p{
  
  text-decoration:whitesmoke
}


.aboutUs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.box{
  width: 45%;
  margin-bottom: 20px;
  margin-left: 3rem;
  

}

.box h2{
  text-align: start;
}
.box p{
  text-align: justify;
  margin: auto;
}

.skillsHeading{
  text-align: center;
}
.skillsHeading span{
  color: yellowgreen;
}

.skills-grid{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.skills-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills-container span{
  margin-top: 2rem;
}

.project-grid{
  background-color: yellowgreen;
  width: 80%;
  text-align: center;
  padding-top: 2rem;
  margin: auto;
  color: white;
  padding-bottom: 2rem;
}
.skillsInput button{
  background-color: yellow;
  padding-inline: 5px;
  padding-bottom: 2px;
  border: none;
  padding-top: 5px;
  font-weight: bold;

}
.skillsInput input{
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: none;
}

.contactHeader{
  text-align: center;
}
.contactHeader span{
color: yellowgreen;
}
.contact-grid{
  text-align: center;
  width: 80%;
  margin-top: 2rem;
  margin-left: 4rem;
}


.contact-container{
  text-align: center;
  justify-content: space-between;
  margin-left: 2rem;
}
.footer-grid{
  background-color: yellowgreen;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-right: 2rem;
  padding-top: 2rem;
  color: white;
}

.footer-box{
  width: 15%;
  margin-bottom: 20px;
  margin-left: 3rem;
  
  
}
.footer-box h5{
  text-decoration: underline;
}
.footer-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width:600px) {
  .right{
    display: none;
  }
  .headerRight{
    display: none;
  }
  .grid-about{
    flex-direction: column;
  }
  .grid-about .about{
    width: 80vw;
  }
  .grid-about .about h1 span{
    align-items: center;
    text-align: center;
    margin-right: 20vw;
    text-align: justify;
  }
  .protUl{
    display: none;
  }
  .protImg{
    margin-right: 4vw;
  
  }
  .process-grid .processImg-container img{
margin-left: 6vw;

  }
   
  .process-grid .processImg-container .num{
    margin-left: 14vw;
  }
 .box{

text-align: center;
width: 100%;

    }
    
     .skills-container{
      display: flex;
      flex-direction: column;
      margin-left: 2vw;
      
      }
      .skills-container:nth-child(3){
      display: none;
      }
      
      .skillsInput button{
        margin-left: 24vw;
        margin-right: 24vw;
        margin-top: 2vw;
      
}
.footer-grid{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}
.footer-grid img{
  width: 90px;
}
.footer-box{
  width: 100%;
  margin-left: 4vw;
  font-size: x-large;
}
.icon-grid .icon-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.footer-icon{
  display: none;
}

}


